[2017-06-06 08:16] nm-a opened #1 "Case 1706-0117 edit screens are not responding"
I just wanted to mention to you that the new system seems to be faulty. This morning I have been working on the same case for over an hour. Case 1706-0117, I filled in a few pages and then after I filled out the mental status form, I hit save and it bumped me out of the system. I tried to go back in to edit the case as I had not entered all of the information and it showed a blank screen with the

[2017-06-06 08:16] nm-a opened #2 "mental health page it is not accepting"
I have started entering into Peace Tracker, up till offender page it was updating the case, but after filling mental health page it is not accepting it & page is blank.

[2017-06-06 08:16] nm-a opened #3 "NCMS is not allowing to enter sessions data"
NCMS is not allowing to enter sessions data

[2017-06-06 08:41] arakeshrohan opened #4 "test issue"
asdasd

[2017-06-06 08:41] #4 closed

[2017-06-06 09:17] #2 closed

[2017-06-06 09:17] nm-a commented on #2
fixed

[2017-06-06 09:17] nm-a commented on #3
fixed

[2017-06-06 09:17] #3 closed

[2017-06-06 09:17] nm-a commented on #3
fixed

[2017-06-06 09:18] nm-a commented on #1
fixed

[2017-06-06 09:18] #1 closed

[2017-06-06 09:18] nm-a commented on #1
fixed

[2017-06-06 15:55] sudheer517 opened #5 "404 error if we enter chracters as input for numeric fields"
There are many fields which should only allow numeric values but currently they are allowing characters also. These fields should be validated for only integers.

Below are the fields,

**CaseManagement** - Total no of sessions, Total hours spent

**Abuse** - Number of years physical abuse, Number of years emotional abuse, Number of years sexual abuse, Number of years economic abuse

**CaseOffende

[2017-06-06 15:59] sudheer517 opened #6 "Email is not validated"
Under Client and Household tab email field is not validated properly

[2017-06-06 16:03] sudheer517 opened #7 "Mobile number needs to be validated"
Currently mobile number allowing charcters also as an input this should be changed

**Spouse** - Spouse home phone and spouse mobile phone, phone number under spouse Address, phone number under Emergency

Validate PIN also under Spouse along with this

[2017-06-06 16:05] sudheer517 opened #8 "Legal system is not getting saved"
For some reason Legal system is not getting saved

[2017-06-06 16:09] sudheer517 commented on #6
@samyuktha31 can you look through the system for any email fields that needs to be validated ?

[2017-06-07 06:28] sudheer517 commented on #5
Fixed:
Added validations for all the above fields
Under offender tab "Relationship with abuser" is there which is suppsoed to be "Relationship with victim", fixed this

[2017-06-07 06:29] sudheer517 commented on #5
Pushed changes to master

[2017-06-07 06:51] sudheer517 commented on #5
@samyuktha31  Have ceated custom validators to validate numbers, mobile and pin. Use them while you are solving other issues.

[2017-06-07 06:53] sudheer517 commented on #8
Reason:
Currently in our system we are using Array<Number> as a datatype which is supposed to be Array<number>. Here Number represents class and number represensts data type

Fix:
Changed the values accordingly and now the issue is fixed

[2017-06-07 06:57] sudheer517 opened #9 "Create a view case for PeaceMaker (CaseManagement)"
Currently we don't have specific page where we can view all the details. Need to create one.

[2017-06-07 07:00] LouisaDeBeer opened #10 "Error when editing a session"
![image](https://user-images.githubusercontent.com/20065395/26866045-17861ec4-4b7d-11e7-8a90-e8729d592357.png)
After a session is created, when it is edited and then saved, a 404 error appears.

[2017-06-07 08:55] rakeshrohan opened #11 "PIN number should not accept alphabets"
![image](https://user-images.githubusercontent.com/16030175/26870270-17de9986-4b8d-11e7-9a68-bd4d1c453e5e.png)

[2017-06-07 09:39] sudheer517 commented on #5
Tested, these fixes are working fine

[2017-06-07 09:39] #5 closed

[2017-06-07 09:39] sudheer517 commented on #8
Tested, Legal system is saving without any issue

[2017-06-07 09:39] #8 closed

[2017-06-08 05:55] LouisaDeBeer opened #12 "No continuity from case creation to editing"
Once a new case is created, it takes the user to the case view page. The case is then not showed on top, and the only way to find it is to search by client name. This is an issue as several clients have the same/similar names and leaves room for error.
Two options that come to mind are:
1. Case number to be displayed upon submission of new case form
2. Once case is created and saved, redirects to

[2017-06-08 05:57] LouisaDeBeer opened #13 "Downloadable data"
There is a requirement to periodically download case data in .csv or Excel format. Is it possible to add a button which enables a front end user to download this when needed?

[2017-06-08 05:57] sudheer517 commented on #10
**Reason**
Date is not properly handle here. Used moment js to handle the same.
Tested everything is working fine now.

**Status**
Fixed

[2017-06-08 05:57] #10 closed

[2017-06-08 05:58] sudheer517 commented on #10
**Note**
Changes aren't yet pushed to productiot

[2017-06-08 11:44] samyuktha31 commented on #6
Validated the email field in Client & Household tab and pushed it to production.

[2017-06-08 16:13] sudheer517 commented on #9
Notes:
Development has been done. Testing is in progress

[2017-06-09 07:24] LouisaDeBeer opened #14 "Mental Status Tab data entered not displaying"
Motor activity, Attention & Information data entered is not displaying on the screen for most of the cases. When trying to add it again, it's displaying twice.

[2017-06-09 09:00] samyuktha31 commented on #9
![image](https://user-images.githubusercontent.com/19705963/26968598-36d5507a-4d20-11e7-815c-994e916ed00a.png)

[2017-06-09 09:07] samyuktha31 commented on #11
Validated this for Spouse and Address tab.

[2017-06-09 09:08] samyuktha31 commented on #11
![pincode_screenshot](https://user-images.githubusercontent.com/19705963/26968876-4de17b26-4d21-11e7-8bd9-c1fcb2cedf5c.PNG)

[2017-06-09 09:08] samyuktha31 commented on #6
![emailvalidation](https://user-images.githubusercontent.com/19705963/26968885-54f8781a-4d21-11e7-9feb-9108bae08cab.PNG)

[2017-06-09 09:09] samyuktha31 commented on #6
Fixed

[2017-06-09 09:09] #6 closed

[2017-06-09 09:09] samyuktha31 commented on #11
Fixed

[2017-06-09 09:09] #11 closed

[2017-06-09 09:29] jkkr1996 opened #15 "EditCase Module- City Field in Spouse Tab"
The field "City" in the spouse tab of  Edit Case module has a problem. When we are trying to update city value, we are not able to see the list of cities and select the city unless we select the state again

[2017-06-09 09:36] jkkr1996 opened #16 "EditCase module- label enhancement"
A label "Please Specify " is present in the abuse tab of editCase Module. It has to be modified as "If Others please specify", this would provide better clarity for filling the form.

[2017-06-09 11:25] LouisaDeBeer opened #17 "Add a counselor to the list of counselors"
Please add "Vasantha" to the list of Secunderabad counselors in the dropdown.

[2017-06-09 12:30] sudheer517 commented on #9
- [Client & Household - The placing of the Client & Household tab is different for View case and edit case ]

- [Client & Household  - In The family tab for the field "Any children deceased/Miscarried/aborted ? " if the value is large enough that it can't be fit in a single line it is better to place it in a separate line ]

- [Client & Household -  If the other , Specify field doesn't have any va

[2017-06-09 12:34] sudheer517 commented on #9
**Update**:Completed all the bugs that has been raised

[2017-06-12 08:02] jkkr1996 opened #18 "Data in "All Cases" Tab - Bug"
The "All cases" tab doesn't display data when it loads for first time, but it works fine when we open it in a new window. We have to test it for multiple browsers.

[2017-06-12 12:57] sudheer517 opened #19 "Move Case For PeaceMaker (CaseManagement)"
User should be able to move case from one category to another category.
Below are the categories and statuses belongs to that.
- Category 1	(New)
- Category 2	(Open, Closed-Unresolved)
- Category 3	(Referred, Stagnant, Duplicate, Invalid)
- Category 4	(Closed - Resolved)

[2017-06-12 13:07] sudheer517 opened #20 "User Management for PeaceMaker (CaseManagement)"
Crate a user management system that should handle users from data accessing and performing operations on it based on their role.

- Admin Permissions:
     Full access to all functionalities and all cases
- Manager:
    Access to ALL cases, with the following functionalities:
           1.  Create new
           2.  View
           3.  Edit
           4. Delete
- Center-Level User
     Only able t

[2017-06-12 13:11] sudheer517 opened #21 "Dashboard for PeaceMaker (CaseManagement)"
Create a dashboard for the sytem.

[2017-06-12 13:44] sudheer517 commented on #17
Update:
Added "Vasantha" to the list of Secunderabad counselors in the dropdown

[2017-06-12 18:03] rakeshrohan commented on #17
Even though the counselor is added, it will not displayed due to "local storage" bug. The counselor "Vasantha" will be visible after fixing it. Do not close this issue until it the we confirm its visible.

[2017-06-13 06:20] sudheer517 commented on #9
**Updated**
Deployed View Case module to the production

[2017-06-13 06:20] #9 closed

[2017-06-13 06:22] sudheer517 commented on #13
This can be done. we will implement this in our next release i.e, V 1.2

[2017-06-13 09:30] LouisaDeBeer opened #22 "No one is able to log in"
![eroor](https://user-images.githubusercontent.com/20065395/27075833-f70ba026-5048-11e7-9670-f37b34cfd4b4.png)
Any team member trying to log in is unable to do so.

[2017-06-13 10:38] sudheer517 commented on #22
**Update**
Fixed the issue. Now everyone should be able to login.

![image](https://user-images.githubusercontent.com/1944557/27078743-860bce14-5052-11e7-8c1e-a964db657d6b.png)

[2017-06-13 10:38] #22 closed

[2017-06-13 10:42] sudheer517 commented on #17
**Update**
@LouisaDeBeer Now **Vasantha** is visible under Secunderabad.

![image](https://user-images.githubusercontent.com/1944557/27078864-009525d6-5053-11e7-9a88-25c5baf703d6.png)

[2017-06-13 10:42] #17 closed

[2017-06-14 06:25] LouisaDeBeer commented on #17
![image](https://user-images.githubusercontent.com/20065395/27118331-5f4012b2-50f8-11e7-8cb1-b92ab77c10f4.png)
We are still not able to view Vasantha on the list of counselors - has it been pushed to production?

[2017-06-14 06:54] LouisaDeBeer opened #23 "Delete Case module"
Currently not able to delete a case, is this part of V1.1?

[2017-06-14 07:00] sudheer517 commented on #23
@LouisaDeBeer Nope. We have View and Move case options for V 1.1 but not *delete a case*

[2017-06-14 07:02] sudheer517 commented on #17
Hey @LouisaDeBeer can you try logging out and login again to see update?.

[2017-06-14 07:05] LouisaDeBeer commented on #17
Got it now, thanks Sudheer!

Louisa de Beer
Manager - Finance and Data
louisa@mychoicesfoundation.org
+91 73068 70085
www.mychoicesfoundation.org
/PeaceMaker <https://twitter.com/PeacemakerMCF> /PeaceMaker
<https://www.facebook.com/PeaceMakerMCF>
/Red Alert <https://www.twitter.com/RedAlertMCF> /Red Alert
<https://www.facebook.com/RedAlertMCF>

My Choices Foundation works to give women and girls c

[2017-06-14 07:08] LouisaDeBeer commented on #23
@sudheer517 Thanks for confirming! So is the process for getting a case deleted to ask you guys to delete it from the back-end?

[2017-06-14 08:45] sudheer517 commented on #23
Yes, exactly @LouisaDeBeer

[2017-06-15 04:18] LouisaDeBeer opened #24 "Dropdown options to be added to "Household members living in same house""
In the tab "Client & Household", in the field "Household Members living in same house", can we please add two options:
1. Father
2. Mother

[2017-06-15 14:22] sudheer517 commented on #24
**Update**:
Added Mother and father options to the select list. But changes are not yet in production.

[2017-06-16 05:20] samyuktha31 commented on #7
Validated the mobile fields all across the application and testing is also performed .

[2017-06-16 05:21] samyuktha31 commented on #7
[Validation_Bug_Testcases.xlsx](https://github.com/rakeshrohan/MyChoices/files/1079802/Validation_Bug_Testcases.xlsx)

[2017-06-16 05:21] #7 closed

[2017-06-16 08:00] LouisaDeBeer opened #25 "Certain cases not allowing edit"
Some cases (not all) are not allowing to be edited. Once edit is selected, the page goes blank and there is no option of editing.
Some of the case numbers with which this is happening include:
1706-0144
1706-0142
1706-0133
1706-0111
1706-0103
![image](https://user-images.githubusercontent.com/20065395/27217555-f6f4b9c8-5297-11e7-9b4c-a113b18cf6e9.png)

[2017-06-16 08:54] LouisaDeBeer commented on #25
1706-0195 another case on which this is happening

[2017-06-16 09:57] sudheer517 commented on #25
**Update**
- Cases which has multiple values for mental status fields are causing the error

[2017-06-16 10:29] LouisaDeBeer commented on #25
Thanks Sudheer! What would be the timeline on fixing this? Just asking so I can update the team.

[2017-06-16 10:50] sudheer517 commented on #25
@LouisaDeBeer this issue has been fixed. Changes will be deployed tonight as the process should not affect your work

[2017-06-16 10:56] LouisaDeBeer commented on #25
@sudheer517 thanks a ton Jayaram.

[2017-06-16 11:18] sudheer517 commented on #25
You are welcome :) @LouisaDeBeer. By the way when can we expect Blue Print for dashboard ? so that we will start implementing it

[2017-06-16 11:19] LouisaDeBeer commented on #25
@sudheer517 planning to work on it on the weekend as I was stuck in meetings all of today. Will share it asap.

[2017-06-16 11:23] sudheer517 commented on #25
Cool. Thank you @LouisaDeBeer

[2017-06-22 08:51] jkkr1996 commented on #15
The issue has been solved. The city list is properly displayed.

[2017-06-22 08:51] #15 closed

[2017-06-22 09:02] jkkr1996 opened #26 "ViewCase Module - Data not displayed"
"M.I." field of Primary Info is not displaying value

[2017-06-22 09:06] karthikkumar1996 opened #27 "EditCase Module - Mental Status Edit Problem"
While Editing the existing record of mental status, the form is not displaying the existing data of the record.

[2017-06-22 09:27] karthikkumar1996 opened #28 "EditCase Module - Adding records and editing records back to back crashes the app"
In Children Tab, when  "Adding new Children" action is followed by "Edit" action (and vice versa) brings down the application with an error
##
ERROR Error: There is no FormControl instance attached to form control element with name: 'GenderLookupId'
##

Similar error exists in the tabs "Offender" , "Sessions"  and "Feedback" , crashing the application when the action adding and editing are done al

[2017-06-22 09:48] jkkr1996 opened #29 "EditCase Module- Validation issues in "Client and Household" Tab Fields"
"At what age did client have her first child" field and "Year of marriage" field

The fields are partially validated :
-> Accepts negative values.
-> Accepts alphabets but returns failure message on update.
-> Four digit validation has to be done as it accepts two digits also.

 The update button remains enabled and throws error on updating.

[2017-06-22 11:48] jkkr1996 opened #30 "EditCase Module- Validation issues in "Abuse" Tab Fields"
The Fields
"Number of years physical abuse has been occurring"
"Number of years emotional abuse has been occurring"
"Number of years sexual abuse has been occurring",
"Number of years economic abuse has been occurring"
are partially validated.
For out of range values,they display range error message, but the update button remains active and ends up in displaying error message.

[2017-06-23 09:17] rakeshrohan commented on #25
Issue has been resolved.

[2017-06-23 09:17] #25 closed

[2017-06-28 11:51] LouisaDeBeer opened #31 "Column addition in all cases tab"
Is it possible to add "Counselor" as a column in the all cases module? Require the functionality to search cases based on counselor assigned to that case.

[2017-06-28 12:14] sudheer517 commented on #31
@LouisaDeBeer Yes, it can be done.

[2017-06-28 13:20] sudheer517 commented on #31
This feature implementation is done but changes go live in our next production deployment.

![counselor](https://user-images.githubusercontent.com/1944557/27639008-a349493e-5c32-11e7-9e2f-a18b169ae1a8.PNG)

[2017-06-30 06:06] sudheer517 commented on #26
**Update**
Fixed the issue, changes have been pushed to git

![image](https://user-images.githubusercontent.com/1944557/27722992-5aaaedc0-5d88-11e7-87ab-6f32498de606.png)

[2017-06-30 06:06] #26 closed

[2017-06-30 06:07] #31 closed

[2017-06-30 06:10] sudheer517 commented on #24
![image](https://user-images.githubusercontent.com/1944557/27723089-e07d6d4c-5d88-11e7-8ab1-033aafba8a6b.png)

[2017-06-30 06:10] #24 closed

[2017-06-30 09:34] samyuktha31 commented on #30
![abusebug](https://user-images.githubusercontent.com/19705963/27729976-5b57823e-5da5-11e7-88ac-754fabd5badc.PNG)

[2017-06-30 09:44] samyuktha31 commented on #30
The update option is now disabled and pushed the code changes to git

[2017-06-30 09:44] #30 closed

[2017-06-30 10:39] samyuktha31 commented on #29
![yearbug](https://user-images.githubusercontent.com/19705963/27732352-730290fa-5dae-11e7-8a0c-37c7b10f6dc0.PNG)

![firstchildbug](https://user-images.githubusercontent.com/19705963/27732358-791c62d6-5dae-11e7-90ef-6869f1e767b7.PNG)

[2017-06-30 10:43] samyuktha31 commented on #29
Fixed the issue and pushed the code to git.

[2017-06-30 10:43] #29 closed

[2017-07-11 06:02] samyuktha31 commented on #16
fixed this issue and pushed the code changes.

[2017-07-11 06:02] #16 closed

[2017-07-11 06:17] archanabrian opened #32 "Counsellor name misspelled"
The counsellor name "REENA DOULAGHAR" has been wrongly spelled as "Reena Doughabar". Please make the correction.

[2017-07-11 06:51] sudheer517 commented on #32
Sure. we will correct it.

[2017-07-12 10:14] archanabrian commented on #13
What is the timeline of this?

[2017-07-13 06:29] rakeshrohan commented on #32
Please sign out and login if you are not able to see the correct name

[2017-07-13 06:29] #32 closed

[2017-07-13 06:44] archanabrian commented on #32
Thanks Rakesh!

[2017-07-13 07:01] sudheer517 commented on #13
Hey @archanabrian,

Can you provide us the requiremnt on this. Where should the download button reside and in which page and also what exactly it mean by casedata

[2017-07-13 07:07] archanabrian commented on #13
Hey @rakeshrohan

The download button can be placed on the right hand corner of the "all cases" page.

The download button should allow us to download in .csv format, all the cases presently uploaded on the peace tracker from the beginning to the time of download.

let me know if you have any more questions..

[2017-07-13 07:21] sudheer517 commented on #13
Thanks for the information @archanabrian by the way this is @Jayaram

[2017-07-13 07:22] archanabrian commented on #13
Sorry @jayaram.. I had been communicating with him and assumed automatically :)

[2017-07-13 08:22] rakeshrohan commented on #19
This has been delivered in v.1.1

[2017-07-13 08:22] #19 closed

[2017-07-13 11:19] #18 closed

[2017-07-19 09:46] archanabrian opened #33 "Some modifications, while "Moving" a case"
In the drop down that you have when you chose 'move', please add an additional option "Referred to Legal" in addition to Open, Closed-Resolved etc. When they chose this option, make all the data requirement under the tab "Legal" mandatory to be filled out.

When we move the case to either "Stagnant", "Referred", "Invalid" or "Closed-unresolved", please give an additional 'mandatory' option of - "R

[2017-07-19 10:53] sudheer517 commented on #33
@samyuktha31 Can you take care of it?

[2017-07-20 13:26] samyuktha31 commented on #33
Hi @archanabrian ,

We don't have the fields "Reason for selecting this status" and "Referred to whom" currently in the website. So, can you let me know in which tab you want to see them once the case is moved .

Also, can you let me know to which category the additional case status option "Referred to Legal" be added to ?

[2017-07-21 05:55] archanabrian commented on #33
Hi @samyuktha31 ,

In the tab "Case Management", we already have an option "Reason for selected Closure status" . The same can be added under the 'Case Management' when we chose to move a case.

Firstly we need to include "referred to who" in the main website. In the tab "Case Management", we can have this below 'Status" where we can add the field "If referred, then mention the reference". The sam

[2017-07-25 12:02] archanabrian opened #34 "Rahat Iqbal unable to access PeaceTracker"
One of our centre coordinators is unable to login into the PeaceTracker. Have tried logging from different systems but not able to log in. His email id is rahat@mychoicesfoundation.org.

[2017-07-25 12:09] archanabrian opened #35 "Error in the "Sessions" tab"
Users are having challenges while using the "Sessions" tab - When they are trying to add a session, the "Session management" page is stuck and doesn't accept any inputs made and doesn't save any of the inputs made. 3 team members have got back with the same issue.

When I tried to check this out on a test case 1705-0002, it saved the same info twice

2017-07-03T00:00:00	Family	90	2017-07-20T00:00:

[2017-07-27 08:48] archanabrian commented on #12
Hi @sudheer517 , any update on this issue?

[2017-07-27 08:53] archanabrian commented on #33
@samyuktha31 - please let me know if you have any more questions or I've been clear with my earlier communication?

[2017-07-27 08:54] archanabrian commented on #34
@rakeshrohan - Can you please look into this and give me an update please? Thanks!

[2017-07-27 09:05] archanabrian commented on #35
@rakeshrohan - Can you please look into this issue? most team members are facing this issue..

[2017-07-27 09:26] samyuktha31 commented on #33
Hi @archanabrian, Thanks for the detailed explanation . It was clear.

I've done the required code changes and pushed the changes to the git . The module Move case should now work as per expected once it is deployed.

[2017-07-27 09:31] archanabrian opened #36 "Please delete case No. 1707-0400."
Request you to please delete case no. 1707-0400 since it's a duplicate.

[2017-07-27 10:23] sudheer517 commented on #12
Hi @archanabrian,
@samyuktha31 is working on it. Hopefully it will be done by today

[2017-07-27 10:26] sudheer517 commented on #36
Sure @archanabrian. Karthik from our has implented delete fetaure. So, after next deployment you guys will be able to delete cases on your own

[2017-07-27 10:43] archanabrian commented on #36
Thanks @sudheer517

[2017-07-27 10:44] archanabrian commented on #33
Thank you @samyuktha31

[2017-07-27 10:44] archanabrian commented on #12
Thank you @sudheer517 & @samyuktha31

[2017-07-27 10:47] samyuktha31 commented on #12
Hi @archanabrian,

This issue if fixed. Pushed the code changes to the git and it will be available to you after the next deployment.

So, now when a new case it created, it gets redirected to the edit case page of that case.

[2017-07-27 11:27] rakeshrohan commented on #35
@archanabrian  sure. I am on it now.

[2017-07-27 13:29] rakeshrohan commented on #34
Hey @archanabrian
He should be able to login now.

[2017-07-27 13:30] rakeshrohan commented on #33
We will test it along with other features until tomorrow evening and then deploy it.

[2017-07-27 13:36] rakeshrohan commented on #36
**I deleted it manually from the database for now.**
After the deployment tomorrow, the people with admin access will be able to delete a case.

@archanabrian can you please let me know the people who need access to "delete" functionality ?

[2017-07-27 13:39] rakeshrohan opened #37 "Add spinner when opening a case using "View case""
Use the existing functionality for adding spinner

[2017-07-27 13:42] rakeshrohan opened #38 "Change time format - in Sessions tab"
Use 12- hour clock format in sessions tab.
Take utc date time into consideration when implementing this and make sure the right time is being displayed.
![sessionstime](https://user-images.githubusercontent.com/16030175/28673134-62e9a440-72ff-11e7-8f86-8333f9fae748.JPG)

[2017-07-27 13:45] rakeshrohan commented on #38
**Please take archie's input regarding the time format.**
Make sure we change it in other places of the application as well to maintain consistency.

[2017-07-27 14:20] rakeshrohan commented on #35
Found the issue. I will fix it and include it in the deploy tomorrow.

[2017-07-28 13:15] smile3 opened #39 "Bug in Firefox - Not able to go past the login page"
Not able to load the peace tracker application in firefox.
Here's the screenshot of the error in developer tools.

![image](https://user-images.githubusercontent.com/5412941/28718493-f2b9c1da-73c3-11e7-8b85-5c4b58943aaa.png)

[2017-07-28 14:38] archanabrian commented on #36
@rakeshrohan thank you for deleting.. the people who can have access to "delete" is myself, Farzana and Elca only.

[2017-07-28 14:38] archanabrian commented on #35
@rakeshrohan Thank you!

[2017-07-28 14:39] archanabrian commented on #34
@rakeshrohan - I will ask Rahat to check it out and get back..

[2017-07-28 14:44] archanabrian commented on #12
@samyuktha31 thank you.. just let me know once you've deployed

[2017-07-29 16:02] rakeshrohan commented on #39
i was not able to reproduce this.
![image](https://user-images.githubusercontent.com/16030175/28746211-5f164682-74a5-11e7-8b4a-1bac6e036c5d.png)

[2017-08-01 08:27] archanabrian commented on #34
@rakeshrohan - He has checked and said that he is able to use it only one desktop and still not able to access on the 2nd desktop and shows the same error.. does that have to do with his desktop?

[2017-08-01 08:31] archanabrian commented on #35
@rakeshrohan - there continues to be an error while using the sessions tab. I have received the following email from one of our team members -

Hey Archie,
I would like to update you that I m unable to update the sessions in the peacetracker ( Session's tab), I added some of the sessions after adding 7-8 sessions now it's showing something like this, Please find the picture.
Regards,
Uzma Firdous

[2017-08-01 12:56] archanabrian opened #40 "Unable to to update client and house hold sheets"
@rakeshrohan - have received another feedback regarding not being able to update the client and house hold tabs.. following is the snapshot - can you please have a look at this?

![img_20170801_171957](https://user-images.githubusercontent.com/29770463/28826211-df74e73c-76e6-11e7-8f56-bd05d5211103.jpg)

[2017-08-01 13:48] sudheer517 commented on #40
Hi @archanabrian,

As we can see in the screenshot, there is an error shoing up on the **Year Of Marriage**  field with message (Please provide a valid year).
So basically if any of the field has invalid data, user won't be able to save the form.
In this case, either we have to enter valid year or value should be empty as ait is a not a mandatory field.

It would have been better if we have highli

[2017-08-01 13:51] archanabrian commented on #40
@rakeshrohan - Thank you Rakesh for picking up on that.. I should have checked that from my end in the first place :)

I'll let the team member know about it..

[2017-08-01 13:55] sudheer517 commented on #40
Thank you Archie. @samyuktha31 and @karthik Can you guys please make sure that all the fields that have validation should highlight with red color if invalid value entered ?

Thanks,
Jayaram

[2017-08-01 15:18] karthik commented on #40
Wrong person, stop tagging me.

[2017-08-02 04:46] rakeshrohan commented on #34
Initially he was not added to the list of authorized users. So that was the problem.

If he is able to login from one machine and not others, i think there is problem with browser and OS most probably. We will make changes to detect them going forward.

@archanabrian hey can you please let us know the browser make & version and operating system for the second system?

[2017-08-02 04:47] rakeshrohan commented on #23
delivered in v.1.2

[2017-08-02 04:47] #23 closed

[2017-08-02 04:47] rakeshrohan commented on #36
Delete access given to Archie, Farzana and Elca from the app

[2017-08-02 04:47] #36 closed

[2017-08-02 05:20] sudheer517 commented on #40
No issue with the app

[2017-08-02 05:20] #40 closed

[2017-08-02 05:21] sudheer517 commented on #33
Changes have been delivred with V1.2

[2017-08-02 05:22] #33 closed

[2017-08-02 05:35] samyuktha31 commented on #12
Hey @archanabrian ,

Changes have been delivered with V1.2.

[2017-08-02 05:35] #12 closed

[2017-08-02 05:42] rakeshrohan commented on #20
delivered in v1.1

[2017-08-02 05:42] #20 closed

[2017-08-05 09:30] karthikkumar1996 commented on #14
@LouisaDeBeer the issue is fixed and it will be included in next deployment.

[2017-08-06 11:18] archanabrian opened #41 "Error in Case Management"
@rakeshrohan - a team member has reported error while updating the 'Case Management' tab.. screenshot of the error

![sessions error](https://user-images.githubusercontent.com/29770463/29002742-e4c484ac-7ac6-11e7-837a-f7f91c2e4e0f.jpg)

[2017-08-06 11:19] archanabrian commented on #35
@rakeshrohan -this issue is still being reported by other team members..

[2017-08-08 04:12] karthikkumar1996 commented on #41
@archanabrian we are working on it !

[2017-08-08 04:26] karthikkumar1996 opened #42 "Loading Symbol for Login page"
Having a loading animation will help the user to be aware that process is going on behind

[2017-08-08 07:07] karthikkumar1996 commented on #35
@archanabrian we are working on the sessions tab ! Kindly keep us updated if this issue occurs in meantime.

[2017-08-08 09:09] sudheer517 commented on #37
Implemented in v1.2

[2017-08-08 09:09] #37 closed

[2017-08-08 09:12] #14 closed

[2017-08-08 10:49] karthikkumar1996 opened #43 "Update issue in Case Management - EditCase Module"
Data is getting stored in new row for every updation of values

[2017-08-09 18:30] sudheer517 commented on #35
Hi @archanabrian isse with sessions tab has been fixed. Fix will be available with our next deployment.

Thanks,
Jayaram

[2017-08-10 09:13] sudheer517 opened #44 "Page refresh redirecting to the login page"
When we refresh browser, it should rather stay on the same page than going to login page.

[2017-08-10 10:37] sudheer517 commented on #28
@karthikkumar1996, this issue has been fixed. Take latest change set and test

[2017-08-11 06:56] sudheer517 commented on #44
Now on refresh of browser, we should remain on the same page

[2017-08-11 06:56] #44 closed

[2017-08-11 08:24] karthikkumar1996 commented on #43
The issues has been fixed in the commit related to the following link
[https://github.com/rakeshrohan/MyChoices/commit/abc8ff428e23f5d46bad17548153536822817959](url)

[2017-08-11 08:27] karthikkumar1996 commented on #42
The issue has been fixed in the commit related to the following linkfollowing[https://github.com/rakeshrohan/MyChoices/commit/ab206284a2434373140af760a96b226c41c74cb4](url)

[2017-08-16 13:14] karthikkumar1996 opened #45 "Clicking on date field should open up date dialog and text input should be disabled."
User should not be able to manually enter the date.

[2017-08-17 13:52] karthikkumar1996 opened #46 "Update Issues in EditCase Module"
The Fix related to toaster and redirection created new issues in the following tabs
->Sessions
->Feedback
->Mental
->Offender
Multiple (duplicate) records are displayed on editing a record.

[2017-08-18 08:58] archanabrian opened #47 "Add Sikh under religion- in the tab "Client & Household""
@rakeshrohan - Under Client and Household tab, we have the option to add religion. Can you please add "Sikh" as another option.

[2017-08-18 09:04] archanabrian opened #48 "Please change the tab "year of marriage" to "years of marriage""
@rakeshrohan -  Most clients cannot remember their exact year of marriage but are able to tell the years of marriage. kindly change the tab to "years of marriage" and if possible give the option for decimal input to input the months also.

(I am so sorry we didn't discuss this in the morning but Farzana brought this up just now)

[2017-08-18 09:33] karthikkumar1996 commented on #47
@archanabrian  the religion "Sikh" has been added.

[2017-08-21 04:57] karthikkumar1996 commented on #46
Fixed the issue

[2017-08-21 05:45] samyuktha31 commented on #48
Hi @archanabrian ,

Can you clearly let us know how do you want the month format to be specified as the decimal part?
If you want it in the years.months format, we wont be able to differentiate between 2 years 1 month (2.1) and 2 years 10 months(2.10) as both of them would be technically  2.1 .

So. can you suggest an alternative for this or do you want to add 2 different fields (years and months)

[2017-08-21 06:02] sudheer517 commented on #45
Change format to day-month-year (ex: 12-12-2012)

[2017-08-22 06:26] karthikkumar1996 commented on #27
I have fixed the issue

[2017-08-24 15:28] archanabrian commented on #48
@samyuktha31 - can that just be a whole number with no decimals. we don't need to know the months.. we just need a rough number indicating the years of marriage ..

[2017-09-11 08:19] archanabrian opened #53 "Case Status not changing inspite of changing in Case Management"
@rakeshrohan -

Hello Rakesh,

One of the centre coordinators has reported that although they are updating the case status in the case management, it does not reflect when you look at the cases under "all cases". It still shows as "new" or "Open". I am sending screenshots for your reference

![screenshot 13 _li](https://user-images.githubusercontent.com/29770463/30264871-f717af56-96f7-11e7-8e83-2c

[2017-09-11 09:47] sudheer517 commented on #53
@smile3 Can you please create a ticket and work on it

[2017-09-14 12:57] sudheer517 commented on #53
This has been fixed

[2017-09-19 10:01] archanabrian opened #61 "Specify 'Others'"
@sudheer517 @rakeshrohan

I remember when I was coordinating with Louisa, I had specifically pointed this out to her and thought it was added. Since I do not actively use the PeaceTracker, I could not track this down earlier.

In the abuse tab - for each of the abuses (Types of Physical, emotional, sexual and economic abuse), when the counsellor choses 'other' as an option, it should give them an

[2017-09-19 10:22] archanabrian commented on #53
@sudheer517 - please confirm if the deployment has been done or not..

[2017-09-19 10:37] sudheer517 commented on #53
Hi @archanabrian, it is not done yet.
We are planning to have deployment tomorrow night.
If there is any change in the plan will communicate to you.

[2017-09-20 08:55] samyuktha31 commented on #61
Hi @archanabrian ,

We can add an additional field "If Other, Please Specify" each  for the 4 types of abuse to capture the same thing on Peace Tracker application.

Can you please confirm if you want it to be added 4 times each for different type of abuse.

[2017-09-20 09:49] archanabrian commented on #61
@samyuktha31 - Thank you for confirming and agreeing.. Yes we'd like it added below each of the abuse. For example, It needs to be below 'Types of physical abuse - tick all applicable situations' so that when they check 'Other', it gives them an option below 'If Other, please specify'. Same way for other types of abuse - emotional, Sexual & Economic

[2017-09-22 07:02] archanabrian opened #64 "Error while updating the status from "Case Management" Tab"
@sudheer517 @rakeshrohan

Our counsellor at Secunderabad centre has just reported that when she is trying to update the case to 'Close' for the "Case Management" tab, it is showing the following error. However when Farzana and I tried doing with another counsellor case, the error doesn't show.

![img-20170922-wa0004](https://user-images.githubusercontent.com/29770463/30732860-164ef4cc-9f92-11e7-99

[2017-09-22 07:10] sudheer517 commented on #64
@archanabrian, This could be because of the cache issue. Can you please ask her to clear cache and try?

[2017-11-09 20:31] rakeshrohan opened #82 "Multi select issue"
Clicking on multi select affects the vertical scrollbar and the page scrolls upon clicking the multi select dropdown
_example :_
Manage case page -> Abuse tab ->
How do your parents feel about the abuse?

[2017-11-10 13:25] rakeshrohan commented on #13
Decided not to implement as a feature in the application

[2017-11-10 13:25] #13 closed

[2017-11-10 13:26] rakeshrohan commented on #21
done

[2017-11-10 13:26] #21 closed

[2017-11-10 13:26] #27 closed

[2017-11-10 13:26] #35 closed

[2017-11-10 13:27] #41 closed

[2017-11-10 13:28] #42 closed

[2017-11-10 13:28] #46 closed

[2017-11-10 13:28] #38 closed

[2017-11-10 13:30] #47 closed

[2017-11-10 13:30] #48 closed

[2017-11-10 13:38] #53 closed

[2017-11-10 13:38] #64 closed

[2017-11-10 13:40] #39 closed

[2017-11-10 13:41] #43 closed

[2017-11-10 13:42] rakeshrohan commented on #61
deployed today

[2017-11-10 13:42] #61 closed

[2017-11-10 13:42] #28 closed

[2017-12-12 08:44] archanabrian opened #92 "Move "Source of the Case" from "Case Management"to "Primary Info" tab"
@karthikkumar1996 - It has been observed that the field 'Source of the case' has been placed in the "Case Management" tab. Normally the "Case Management Tab" is updated only towards the closure of the case. However we wold like to know the "Source of the Case" right from the start. Is it possible to please move this field "Source of the Case" from "Case Management" to the "Primary Info" tab.

[2017-12-13 06:56] karthikkumar1996 commented on #92
Hi @archanabrian , we are working on it. Will let you know once done.

[2017-12-20 15:01] rakeshrohan opened #97 "Under "All cases" , pagination shows two pages for one result"

[2017-12-20 15:04] rakeshrohan commented on #97
![image](https://user-images.githubusercontent.com/16030175/34213400-2519549c-e5c5-11e7-8ef1-276f4191221e.png)

[2017-12-28 12:26] archanabrian opened #99 "Sisense not pulling through the latest data"
@karthikkumar1996 - Although there are 1175 cases on PeaceTracker, Sisense downloadable data is not able to pull through all the data and right now pulls through 980 cases only. Can you pls look into this?

[2018-01-06 13:42] rakeshrohan commented on #92
deployed

[2018-01-06 13:42] #92 closed

[2018-01-16 08:44] karthikkumar1996 commented on #99
This issue has been addressed and automatic data refresh is enabled at 12 A.M. everyday

[2018-01-23 05:30] archanabrian opened #101 "Not able to close the case"
@karthikkumar1996 - Some of the team members have complained that they are unable to move the case status to "Closed- Resolved" inspite of filling up all the field. One such case is 1712-1187. I have checked it myself and seen that all the fields are filled up but still it is not allowing to update. Can you please check and resolve the issue.

[2018-01-23 06:25] karthikkumar1996 commented on #101
I will check and get back to you !

[2018-01-23 07:11] karthikkumar1996 commented on #101
Fixed. Will be part of next deployment.

[2018-02-06 10:48] archanabrian opened #103 "Remove "Outcome" as a mandatory field in "Legal" tab"
@karthikkumar1996 - In the legal tab, please make "Outcome" as a non-mandatory field.

[2018-02-06 11:10] archanabrian opened #104 "Add 2 very important additional fields"
@karthikkumar1996 - Please add 2 additional fields as follows -

1. "Case Start Date" in the "Primary Info" tab.
2. "Case Closure date" in the Case management tab.

[2018-02-06 11:12] archanabrian opened #105 "issue with case number 181-1330"
@karthikkumar1996

Hello Karthik, an issue has been raised on a particular case by one of our counsellor - below is her email -
Funnily one case, number of which is 181-1330 is not accepting sessions! all other criteria it is uploading.Twice i entered the sessions and it says uploaded but does not show the matter. I will try again tomorrow and let you know.All other new cases i was able to upload.

[2018-02-06 11:27] archanabrian opened #106 "PeaceTracker not accepting Uninor numbers starting with digit 6"
@karthikkumar1996

[2018-02-07 07:53] archanabrian opened #107 "Error msg flashing while updating any existing case"
@karthikkumar1996 - Hello karthik, it has been reported that an error message is flashing while updating existing cases. below is a screenshot of one of them -
![screen shot 2018-02-07 at 12 31 54 pm](https://user-images.githubusercontent.com/29770463/35904674-09250f36-0c0a-11e8-97b3-fb872dc6a53b.png)

[2018-02-08 13:58] karthikkumar1996 commented on #105
Sure @archanabrian  will check it and let you know !

[2018-02-08 13:59] karthikkumar1996 commented on #106
This will be part of next deployment @archanabrian . I have made a note of it,

[2018-02-08 14:00] karthikkumar1996 commented on #103
This is while Moving a case right ?

[2018-02-09 05:14] archanabrian commented on #103
That's right @karthikkumar1996

[2018-02-12 12:48] karthikkumar1996 commented on #105
@archanabrian  the sessions is working perfectly. Can you please check once again ?

[2018-02-21 11:18] archanabrian opened #112 "Jio number not accepting"
@karthikkumar1996 -

The mobile number 6281531245 is not accepting in case no 182-1444

[2018-03-19 06:25] archanabrian opened #120 "Need to accept landline number too"
@karthikkumar1996 - In the "Spouse" tab under "Emergency" contact, please allow that it accepts landline numbers too since sometimes they give only landline number

![screen shot 2018-03-19 at 11 32 26 am](https://user-images.githubusercontent.com/29770463/37580401-7f9ee7d0-2b69-11e8-85fd-14cc3505ef87.png)

[2018-03-21 07:11] archanabrian opened #123 "Create a Sisense login for Farzana"
@karthikkumar1996 - please create a sisense login for Farzana .. her email id is farzana@mychoicesfoundation.org

[2018-03-21 10:11] karthikkumar1996 commented on #123
Done !

[2018-03-21 10:12] #99 closed

[2018-03-21 10:12] #112 closed

[2018-03-21 10:13] karthikkumar1996 commented on #106
Fixed

[2018-03-21 10:13] #106 closed

[2018-03-21 10:13] #101 closed

[2018-03-21 10:13] #123 closed

[2018-04-20 11:37] archanabrian opened #128 "Delete case - No: 1803-1654"
@karthikkumar1996 -

Need help with deletion of a case on PT which is a duplicate entry.

Please delete this case - No: 1803-1654, Name: Sandhya N

[2018-04-20 11:38] archanabrian opened #129 "Please delete duplicate entries on PT no. 1803-1655 in the children's tab"
@karthikkumar1996 -

Please delete duplicate entries of children on PT no. 1803-1655 in the children's tab

[2018-04-22 12:53] archanabrian opened #130 "Add 'Re-open' as an option and change the religion name 'Muslim' to 'Islam'"
@karthikkumar1996

Please add "Re-open" option in "case status" tab in peace tracker

Also, in the religion tab please change the option from 'Muslim' to 'Islam'

[2018-04-26 10:49] archanabrian opened #131 "issue of “Case Closure Date” field appearing while moving case to “Open” status"
@karthikkumar1996 - the issue is already fixed but registering it on github for tracking.. Thanks for your prompt action!

[2018-04-26 11:25] archanabrian opened #132 "error while updating the "Spouse' tab"
@karthikkumar1996 - issue already fixed, just updating on Github for tracking..

![screenshot 21](https://user-images.githubusercontent.com/29770463/39303110-a026c3ac-4972-11e8-944e-6e7d7ced99f6.png)

[2018-04-30 09:25] karthikkumar1996 commented on #128
Admin have the option to delete case in the application. Please try it !

[2018-05-04 10:15] archanabrian opened #133 "Give admin access to "Pearl Choragudi""
@karthikkumar1996 - Please give admin access to "Pearl Choragudi" who is already added to our PT.. she is moving to he role of Head-Counseling and needs to have admin access as well

[2018-05-14 09:13] #131 closed

[2018-05-15 05:40] #133 closed

[2018-05-16 06:41] archanabrian opened #134 "Retaining the search queries"
@karthikkumar1996 - As discussed, please see if the search queries can retain information when we go back to the previous pages..

[2018-05-16 06:46] archanabrian opened #135 "While moving case to Duplicate"
@karthikkumar1996 - When we want to move any case to "Duplicate", it should allow for automatic update without asking any fields to be updated since it is a Duplicate..

[2018-05-18 09:26] archanabrian opened #136 "Error when trying to save Abuse & Mental Status tab"
@karthikkumar1996 - Please look into this error..
![690e7bda-5079-4ab4-b453-7aeabcbc69ee](https://user-images.githubusercontent.com/29770463/40227265-a128f67c-5aab-11e8-9dab-4c755f2c59c7.JPG)

[2018-05-22 09:40] #128 closed

[2018-05-24 07:00] archanabrian opened #137 "Add an additional status - "Reopen""
@karthikkumar1996 -

I have discussed with my team and they have said that the following fields need to be added additionally to move a case to "Reopen" status.

The fields are -

Date of Reopening
Reason for Reopening
Status of Source (with a drop down) - Same / Other  and below that - If other, Specify

[2018-05-24 07:46] #129 closed

[2018-05-24 07:46] karthikkumar1996 commented on #129
Done

[2018-05-24 07:46] karthikkumar1996 commented on #105
No issues recurring

[2018-05-24 07:46] #105 closed

[2018-05-24 07:47] karthikkumar1996 commented on #132
Fixed

[2018-05-24 07:47] #132 closed

[2018-05-24 07:47] karthikkumar1996 commented on #130
Changed 'Muslim' to 'Islam'

[2018-05-24 07:48] #130 closed

[2018-05-25 05:46] karthikkumar1996 commented on #135
Done. Will be part of next deployment

[2018-05-25 05:47] karthikkumar1996 commented on #120
Done. Will be part of next deployment

[2018-08-27 11:20] archanabrian opened #153 "Data access is restricted"
@karthikkumar1996 - As discussed, please ensure that we can restrict access for every login user (counsellor) to only those cases that they own and give access to all cases only to the leadership team.

[2018-09-21 06:54] archanabrian opened #154 "adding Farzana & Pearl as counsellor for all centres on PT"
@ameerthehacker - Farzana and Pearl are already on PT and therefore I am not aware how I can make this modification myself and hence reaching out to you. Please add both of them as counsellor to all the centres so that in case they need to upload a case where they are the custodians, their resp. names need to come in the drop down under 'Counsellor'.

Fyi @karthikkumar1996

[2019-01-19 18:58] #154 closed

[2019-01-19 18:58] #153 closed

[2019-01-19 18:59] #136 closed